body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

body {
  background-color: #f0f0f0;
  color: #333;
}

.editor {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  height: 90%;
}

#input {
  flex: 1;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  height: 100%;
}

#output{
  flex: 1;
}

iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
}

#input textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  resize: none;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.code-area {
font-family: "Roboto Mono", monospace;
  resize: none;
}

.icon-container .fa {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  pointer-events: none;
}

.pane {
  overflow: hidden;
  resize: vertical;
  min-height: 100px;
  border: 1px solid #ccc;
}

.tab-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.tab {
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding: 8px 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tab i{
  font-size: 20px;
}

.tab.active {
  background-color: #fff;
}
