body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

body {
  background-color: #f8fbfc;
  color: #333;
}

.editor {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  height: 90%;
}

#input {
  flex: 1;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  height: 100%;
}

#output{
  flex: 1;
}

iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
}

#input textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  resize: none;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.code-area {
color: grey;
font-family: "Roboto Mono", monospace;
resize: none;
}

.icon-container .fa {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  pointer-events: none;
}

.pane {
  overflow: hidden;
  resize: vertical;
  min-height: 50vh;
  border: 1px solid #999;
}

.tab-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.tab {
  height: 20px;
  width: 20px;
  padding: 8px 12px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tab i{
  font-size: 20px;
}

.tab.active {
  background-color: #a1d1a1;
}

@media (max-width: 477px) {
  .editor {
    display: block;
  }

  #input,
  #output {
    flex-direction: column;
    height: 50%;
  }

  #input textarea {
    height: 50%; 
  }

  .pane {
    height: 70vh;
    resize: none;
  }

  .tab-container{
    flex-direction: row;
  }
}

